/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin-top:  0px;
  padding: 0;
}

button {
  padding: 20px 40px;
  font-size: 20px;
  border-color: grey;
  font-family: 'Press Start 2P', cursive;
} 

#playAgainButton{
  color: red;
}

#startButton {
  color: red;
}

#instrButton {
  color: black;
  margin: 0px 320px 95px 300px;
}

input {
  padding: 20px 50px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  border-color: grey;
  color: black;
}

img {
  background-image: url('../images/player/4.png');
  padding: 50px;
  margin-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

  
  
  /* ---- typography ---- */
  
body {
  font-family: Helvetica, Arial, sans-serif;
  background: grey;
  color: black;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#instrTitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 130px;
  text-align: center
}


#textInstr {
  font-family: 'Arial', cursive;
  font-size: 30px;
  margin-top: 150px;
  display: flex;
  margin-bottom: 30px;
}

#textInstr2 {
  font-family:'Press Start 2P', cursive;;
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 200px;
}

#enemiesList {
  font-family: 'Arial', cursive;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#foodList {
  font-family: 'Arial', cursive;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h4{
  font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

  
h2 { font-family: 'Press Start 2P', cursive;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 50px;}

#scores {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
}
#message{
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
  
#wasdImg {
  
  background-image: url('../images/misc/wasd.png');
  background-repeat: no-repeat;
  background-position: left top;
}

#copy {
  text-align: right;
  margin-left: 700px;
}
#img2 {
  background-image: url('../images/player/dead/10.png');
  padding: 100px;
  margin-top: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
}

#over {
  font-family: 'Press Start 2P', cursive;
  font-size: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

canvas {
  background-image: url('../images/backround/1.jpg');
  background-repeat: no-repeat;
  background-size: 1600px 810px;

}
  
/* ---- layout ---- */

#site-header {}

#site-footer {}

#site-main {}
  
  
  
  
/* ---- components ---- */

#splash {
  text-align: center;
  
  
}

#game-over {
  text-align: center;
}